footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: var(--layout-max-width);
  padding: var(--footer-padding-block-start) var(--footer-padding-inline) var(--footer-padding-block-end);
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: var(--footer-padding-block-start) var(--footer-padding-inline) var(--footer-padding-block-end);
  }
}
